// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #1396e2,
  secondary:  #feb437,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$font-family-ios-base: "Montserrat", -apple-system, "Roboto", san-serif;
$font-family-md-base: "Montserrat", "Roboto", "Helvetica Nueu", san-serif;
$font-family-wp-base: "Montserrat", "Noto Sans", san-serif;

$loading-ios-spinner-color: #ffffff;
$loading-md-spinner-color: #ffffff;
$loading-wp-spinner-color: #ffffff;

$loading-ios-background: #1396e2;
$loading-wp-background: #1396e2;
$loading-md-background: #1396e2;

$loading-ios-text-color: #ffffff;
$loading-md-text-color: #ffffff;
$loading-wp-text-color: #ffffff;

