<ion-header primary>

  <ion-navbar>
    <ion-title>Update Avatar</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="cont">
    <div style="padding-top:10%">
    <ion-card>
      <div *ngIf="this.progress!=null" >
        <p style="text-align:center">Uploading File</p>
        <div class="progress-outer">
            <div class="progress-inner" [style.width]="this.progress + '%'">
                {{this.progress}}%
            </div>
        </div>
      </div>
      <div *ngIf="this.completed == true">
        <br><h2 style="text-align:center">Successfully Uploaded Image!</h2>
      </div>
      <img *ngIf="this.completed == false" [src]="this.image" onError="this.src='https://www.forehotels.com/public/assets/img/male.png';" height="300"/>
      <img *ngIf="this.completed == true" [src]="this.newImage" onError="this.src='https://www.forehotels.com/public/assets/img/male.png';" height="300"/>
    <ion-fab top right (click)="findProfilePic()">
        <button ion-fab><ion-icon name="md-create"></ion-icon></button>    
      </ion-fab>
    <ion-card-content>
      <ion-card-title>
        {{this.name}}
      </ion-card-title>
      <p style="color: black">
        Kindly Upload an image of size less than 2 MB.      
      </p>
      </ion-card-content>
    </ion-card>
    </div>
  </div>
</ion-content>
