<style>
  .customcard{
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 4px 10px rgba(19, 150, 226, 0.6);
    box-shadow: 0 4px 10px rgba(19, 150, 226, 0.6);
  }
  .ndata{
    align-content: center;

  }
  </style>
<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center" *ngIf="nodata" class="ndata">No notifications available currently</h1>
    <ion-list class="customcard" *ngFor="let item of notifications">
    <ion-item-sliding>
    <ion-item>
        <ion-icon *ngIf="item.type == 1 && item.is_read == '1'" style="color:#888888" name="megaphone">       Job Notifications</ion-icon>
        <ion-icon *ngIf="item.type == 1 && item.is_read == '0'" style="color:#000000" name="megaphone">       Job Notifications</ion-icon>
        <ion-icon *ngIf="item.type == 2 && item.is_read == '1'" style="color:#888888" name="megaphone">       Schedule Interview</ion-icon>
        <ion-icon *ngIf="item.type == 2 && item.is_read == '0'" style="color:#000000" name="megaphone">       Schedule Interview</ion-icon>
        <ion-icon *ngIf="item.type == 3 && item.is_read == '1'" style="color:#888888" name="megaphone">       Refer and Earn</ion-icon>
        <ion-icon *ngIf="item.type == 3 && item.is_read == '0'" style="color:#000000" name="megaphone">       Refer and Earn</ion-icon>
       <ion-card-content *ngIf="item.is_read == '1'" style="color:#888888;white-space:initial">
              {{item.message}}
        </ion-card-content>
        <ion-card-content *ngIf="item.is_read == '0'" style="color:#000000;white-space:initial">
              {{item.message}}
        </ion-card-content>
     <ion-col right text-right>
      <ion-note>
        <button *ngIf="item.is_read == '1'" style="color:#888888" ion-button clear (click)="openPage(item)">READ MORE</button>
        <button *ngIf="item.is_read == '0'" style="color:#000000" ion-button clear (click)="openPage(item)">READ MORE</button>
      </ion-note>
      </ion-col>
      </ion-item>
        <ion-item-options side="right">
          <button ion-button  color="danger" (click)="delete(item)">Delete</button>
        </ion-item-options>
          </ion-item-sliding>
      </ion-list>
      <ion-list *ngFor="let item of refernearn">
        <ion-card-content>
              {{item.name}} used your refferal code for registration
        </ion-card-content>
      </ion-list>
    </ion-content>
